/target/
.classpath
.project
.settings/

# Intellij
.idea/
.idea/copyright
.idea/libraries
.idea/scopes
.idea/.name
.idea/*.xml
.idea/compiler.xml
.idea/misc.xml
*.iml
*.ipr
*.iws
out/
.idea_modules/
.idea/**
 .idea/workspace.xml
/bin/
/src/node_modules/
/log-byDay_IS_UNDEFINED.txt
