<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BR Concepts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.6/angular-resource.min.js"></script>


    <script src="js/controllers/headerNavBarhomeCtrl.js"></script>
    <script src="js/modules/courseModule.js"></script>
    <script src="js/modules/studentModule.js"></script>
    <script src="js/modules/staffModule.js"></script>
    <script src="js/modules/registerModule.js"></script>
    <script src="js/modules/paymentsModule.js"></script>
    <script src="js/modules/expensesModule.js"></script>
    <script src="js/services/loginModal.js"></script>
    <script src="js/directives/myMenu.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="myApp">

<nav class="navbar navbar-default panel_heading_background ng-scope" role="navigation" ng-controller="headerNavBarhomeCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home"> BR Concepts</a>
    </div>

    <div class="collapse navbar-collapse in" collapse="isCollapsed" style="height: auto;">
        <div class="nav navbar-nav navbar-right navbar_background_clr">
            <li class="header_li_border">
                <a class="welcome panel_title_color ng-binding">
                    <i class="fa fa-calendar bigger-110"></i>
                    {{currentDate()}}
                </a>
            </li>
            <li class="dropdown header_li_border" dropdown="" on-toggle="toggled(open)">
                <a href="#" class="dropdown-toggle welcome panel_title_color ng-binding" dropdown-toggle="" role="button" aria-expanded="false" aria-haspopup="true">
                    Welcome
                    <b href="" ui-sref-active="active" class="handCursor ng-binding">
                        {{userName()}}
                    </b>
                    <span class="caret navebar_caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ui-sref="userProfile" class="ng-binding" href="#/userProfile">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a ui-sref="changepassword" class="ng-binding" href="#/changepassword">
                            Change Password
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header_li_border">
                <a ng-click="logout()" class="welcome panel_title_color ng-binding">
                    <i class="fa fa-power-off panel_title_color"></i>
                    Logout
                </a>
            </li>

        </div>
    </div>

</nav>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->

    <div  id="sidebar-wrapper" class="nav-side-menu" >


        <div class="menu-list">

            <ul id="menu-content" class="menu-content ">
                <li>
                    <a ui-sref="home"><i class="fa fa-home fa-lg"></i>Home</a>
                </li>

                <li data-toggle="collapse" data-target="#master" class="collapsed">
                    <a><i class="fa fa-book fa-lg"></i> Master <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="master">
                    <my-menu label="Courses" class="nav navbar-nav  col-md-12"></my-menu>
                    <my-menu label="Students" class="nav navbar-nav  col-md-12"></my-menu>
                    <my-menu label="Amenities" class="nav navbar-nav  col-md-12"></my-menu>
                    <my-menu label="Roles" class="nav navbar-nav col-md-12"></my-menu>
                    <my-menu label="Staff" class="nav navbar-nav col-md-12"></my-menu>
                </ul>
                <li data-toggle="collapse" data-target="#reports" class="collapsed">
                    <a><i class="fa fa-book fa-lg"></i>Reports <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="reports">
                    <my-menu label="Payments" class="nav navbar-nav  col-md-12"></my-menu>
                    <my-menu label="Expenses" class="nav navbar-nav col-md-12"></my-menu>
                    <my-menu label="ExpensesIncomesReports" class="nav navbar-nav col-md-12"></my-menu>
                    <my-menu label="CashBalances" class="nav navbar-nav col-md-12"></my-menu>
                </ul>
                <li data-toggle="collapse" data-target="#checklist" class="collapsed">
                    <a><i class="fa fa-book fa-lg"></i> Check List <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="checklist">
                    <my-menu url="pendingreports" label="PendingReports" class="nav navbar-nav  col-md-12"></my-menu>
                </ul>

                <li data-toggle="collapse" data-target="#users" class="collapsed">
                    <a><i class="fa fa-book fa-lg"></i>Users <span class="arrow"></span></a>
                </li>
                <!--<ul class="sub-menu collapse" id="users">-->
                    <!--<my-menu label="Register" class="nav navbar-nav  col-md-12"></my-menu>-->
                <!--</ul>-->
            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="position: relative;top: 65px;z-index: 2;"><i class="fa fa-bars fa-2x toggle-btn"></i> </a>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <breadscrumb class="ng-scope">
                        <div class="breadcrumbs printhide" ng-click="breadscrumb_print_fn()">
                            <div class="view-container">
                                <div class="view-frame">
                                    <ui-view>Select from Menu</ui-view>
                                </div>
                            </div>
                        </div>
                    </breadscrumb></div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="js/directives/menu.js"></script>

</body>
</html>