<legend>{{headline}}</legend>
    <div class="toolbar-button-div pull-right">
        <button type="button" class="btn btn-sm btn-primary" ng-click="handleClickAddStudent()">
            <span class="glyphicon glyphicon-plus"></span> Add student
        </button>
    </div>
    <br/>

<div class="bpdp-tab" ng-init="tab=1">
    <ul>
        <li class="tab" ng-class="{active:tab==1}">
            <a href ng-click="tab = 1">Students By Date</a>
        </li>
        <li class="tab"  ng-class="{active:tab==2}">
            <a href ng-click="tab = 2">ALL Students</a>
        </li>
        <li class="tab" ng-class="{active:tab==3}">
            <a href ng-click="tab = 3">Students In Dates</a>
        </li>
    </ul>

    <div style="height: 350px; overflow: auto;" class="tab-content table-responsive" ng-show="tab==2">
        <br> Name: <input type="text" ng-model="nameFil"><br/><br/>

        <table class="table table-bordered table-condensed table-hover" ng-table="allStudentsTableParams">
        <tr>
            <th>Student Name</th>
            <th>Course/Company</th>
            <th>Registration Date</th>
            <th>Email Id</th>
            <th>Mobile Number</th>
            <th>Description</th>
            <th>Amount Paid</th>
            <th>Balance</th>
            <th>Total Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <tr ng-repeat="student in $data |filter: nameFil ">
            <td class="clickable-item col-md-2" >{{ student.name }}</td>
            <td class="clickable-item col-md-1" >{{ student.course }}</td>
            <td class="clickable-item col-md-1" >{{ student.registrationdate | date }}</td>
            <td class="clickable-item col-md-2" >{{ student.email }}</td>
            <td class="clickable-item col-md-1" >{{ student.mobilenumber}}</td>
            <td class="clickable-item col-md-2" >{{ student.description}}</td>
            <td class="clickable-item col-md-1" >{{ student.amount | number:2}}</td>
            <td class="clickable-item col-md-1" >{{ student.balance | number:2}}</td>
            <td class="clickable-item col-md-1"><span ng-if="student.amountpaid === false ">Not Paid</span><span ng-if="student.amountpaid === true ">Paid</span></td>
            <td class="col-md-1">
                <md-button>
                    <md-icon type="button" class="btn" ng-click="handleClickUpdateStudent(student._id)">
                        <span class="glyphicon glyphicon-pencil"></span></md-icon>
                </md-button>
            </td>
            <td class="col-md-1">
                <md-button>
                    <md-icon type="button" class="btn" ng-click="deleteStudentById(student._id)">
                        <span class="glyphicon glyphicon-remove"></span></md-icon>
                </md-button>
            </td>
        </tr>
        <tr ng-if="!students || students.length === 0">
            <td colspan="11">No students exist.  Please add some.</td>
        </tr>
        </table>
    </div>

    <div style="height: 350px; overflow: auto;" class="tab-content table-responsive" ng-show="tab==1">
        <br/>Registration Date: <input type="date" ng-model="regDate" ng-change="dateChanged()"><br/><br/>

        <table class="table table-bordered table-condensed table-hover" ng-if="user.admin == true">
            <tr><td>Total Students :{{studentsByDate.length}}</td> <td>Total Income:{{totalIncome | number:2}}</td> <td>Amount Due: {{amountDue | number:2}}</td> </tr>
        </table>

        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <th>Student Name</th>
                <th>Course/Company</th>
                <th>Registration Date</th>
                <th>Email Id</th>
                <th>Mobile Number</th>
                <th>Description</th>
                <th>Amount Paid</th>
                <th>Balance</th>
                <th>Total Amount</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr ng-repeat="student in studentsByDate">
                <td class="clickable-item col-md-2" >{{ student.name }}</td>
                <td class="clickable-item col-md-1" >{{ student.course }}</td>
                <td class="clickable-item col-md-1" >{{ student.registrationdate | date }}</td>
                <td class="clickable-item col-md-2" >{{ student.email }}</td>
                <td class="clickable-item col-md-1" >{{ student.mobilenumber }}</td>
                <td class="clickable-item col-md-2" >{{ student.description}}</td>
                <td class="clickable-item col-md-1" >{{ student.amount | number:2}}</td>
                <td class="clickable-item col-md-1" >{{ student.balance | number:2}}</td>
                <td class="clickable-item col-md-1"><span ng-if="student.amountpaid === false ">Not Paid</span><span ng-if="student.amountpaid === true ">Paid</span></td>
                <td class="col-md-1">
                    <md-button>
                        <md-icon type="button" class="btn" ng-click="handleClickUpdateStudent(student._id)">
                            <span class="glyphicon glyphicon-pencil"></span></md-icon>
                    </md-button>
                </td>
                <td class="col-md-1">
                    <md-button>
                        <md-icon type="button" class="btn" ng-click="deleteStudentById(student._id)">
                            <span class="glyphicon glyphicon-remove"></span></md-icon>
                    </md-button>
                </td>
            </tr>
            <tr ng-if="!studentsByDate || studentsByDate.length === 0">
                <td colspan="11">No students exist.  Please add some.</td>
            </tr>
        </table>

    </div>

    <div class="tab-content table-responsive" ng-show="tab==3">
        <br/><div><div class="clickable-item col-md-4">Start Date: <input type="date" ng-model="startDate"></div>
        <div class="clickable-item col-md-4">End Date: <input type="date" ng-model="endDate"></div>
        <div class="clickable-item col-md-2"><button class="btn btn-primary" ng-click="getStudentsByRange()">Get Students</button></div>
        <div class="clickable-item col-md-2"><button class="btn btn-primary" ng-click="print('studentsByRange')">Print</button></div></div><br/><br/><br/>
    <table class="table table-bordered table-condensed table-hover" ng-if="user.admin == true">
        <tr><td>Total Students :{{studentsByRange.length}}</td> <td>Total Income:{{studentsByRange.totalIncome | number:2}}</td> <td>Amount Due: {{studentsByRange.amountDue | number:2}}</td> </tr>
    </table>

    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>Student Name</th>
            <th>Course/Company</th>
            <th>Registration Date</th>
            <th>Email Id</th>
            <th>Mobile Number</th>
            <th>Description</th>
            <th>Amount Paid</th>
            <th>Balance</th>
            <th>Total Amount</th>
        </tr>

        <tr ng-repeat="student in studentsByRange">
            <td class="clickable-item col-md-2" >{{ student.name }}</td>
            <td class="clickable-item col-md-1" >{{ student.course }}</td>
            <td class="clickable-item col-md-1" >{{ student.registrationdate | date }}</td>
            <td class="clickable-item col-md-2" >{{ student.email }}</td>
            <td class="clickable-item col-md-1" >{{ student.mobilenumber }}</td>
            <td class="clickable-item col-md-2" >{{ student.description}}</td>
            <td class="clickable-item col-md-1" >{{ student.amount | number:2}}</td>
            <td class="clickable-item col-md-1" >{{ student.balance | number:2}}</td>
            <td class="clickable-item col-md-1"><span ng-if="student.amountpaid === false ">Not Paid</span><span ng-if="student.amountpaid === true ">Paid</span></td>
        </tr>
        <tr ng-if="!studentsByRange || studentsByRange.length === 0">
            <td colspan="11">No students exist.  Please add some.</td>
        </tr>
    </table>
    <span style="display: none">
        <div id="studentsByRange">
            <table class="table table-bordered table-condensed table-hover" ng-if="user.admin == true">
                <tr><td>Total Students :{{studentsByRange.length}}</td> <td>Total Income:{{studentsByRange.totalIncome | number:2}}</td> <td>Amount Due: {{studentsByRange.amountDue | number:2}}</td> </tr>
            </table>

            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>Student Name</th>
                    <th>Course/Company</th>
                    <th>Registration Date</th>
                    <th>Email Id</th>
                    <th>Mobile Number</th>
                    <th>Description</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    <th>Total Amount</th>
                </tr>

                <tr ng-repeat="student in studentsByRange">
                    <td class="clickable-item col-md-2" >{{ student.name }}</td>
                    <td class="clickable-item col-md-1" >{{ student.course }}</td>
                    <td class="clickable-item col-md-1" >{{ student.registrationdate | date }}</td>
                    <td class="clickable-item col-md-2" >{{ student.email }}</td>
                    <td class="clickable-item col-md-1" >{{ student.mobilenumber }}</td>
                    <td class="clickable-item col-md-2" >{{ student.description}}</td>
                    <td class="clickable-item col-md-1" >{{ student.amount | number:2}}</td>
                    <td class="clickable-item col-md-1" >{{ student.balance | number:2}}</td>
                    <td class="clickable-item col-md-1"><span ng-if="student.amountpaid === false ">Not Paid</span><span ng-if="student.amountpaid === true ">Paid</span></td>
                </tr>
                <tr ng-if="!studentsByRange || studentsByRange.length === 0">
                    <td colspan="11">No students exist.  Please add some.</td>
                </tr>
            </table>
        </div>
    </span>

    </div>

</div>

<!-- modal popup for adding student -->

<script type="text/ng-template" id="add-Student-modal.html">

    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Add student</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form name="studentForm" class="form-horizontal" role="form" autocomplete="off" unsaved-warning-form>
            <div class="form-group">
                <label class="col-sm-4 control-label">Student Name <span class="data-required">*</span> :</label>
                <div class="col-sm-6">
                    <input type="text" id="studentInput" class="form-control" ng-model="student.name" placeholder="student Name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Course/Company <span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <select id="studentCourse" ng-options="course._id as course.name for course in courses" class="form-control" ng-model="student.course" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Registration Date<span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <input type="date" id="studentRegistrationDate" class="form-control" ng-model="student.registrationdate" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Mobile Number <span class="data-required">*</span>:</label>
                <div class="col-sm-6" ng-class="{ 'has-error': studentForm.contactInput.$invalid && studentForm.contactInput.$dirty }">
                    <input type="text" name="contactInput" id="studentMobileNumber" class="form-control" ng-model="student.mobilenumber" ng-minlength="10" ng-maxlength="10" placeholder="Student Mobile Number" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Email:</label>
                <div class="col-sm-6" ng-class="{ 'has-error': studentForm.studentEmail.$invalid && studentForm.studentEmail.$dirty }">
                    <input type="email" name="studentEmail" id="studentEmail" class="form-control" ng-model="student.email" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Description:</label>
                <div class="col-sm-6">
                    <input type="text" id="studentDescription" class="form-control" ng-model="student.description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
            <label class="col-sm-4 control-label">Amount Paid<span class="data-required">*</span>:</label>
            <div class="col-sm-6">
                <input type="number" id="studentAmount" class="form-control" ng-model="student.amount" placeholder="Amount Paid" required>
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Balance<span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <input type="number" id="studentBalance" class="form-control" ng-model="student.balance" placeholder="Balance" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label checkbox">Total Amount Paid</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" ng-model="student.amountpaid">
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addStudent()" ng-disabled="!isInputValid()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<!-- modal popup for Updating student -->

<script type="text/ng-template" id="update-student-modal.html">

    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Update Student</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <form name="studentUpdateForm" class="form-horizontal" role="form" autocomplete="off" unsaved-warning-form>
            <div class="form-group">
                <label class="col-sm-4 control-label">Student Name <span class="data-required">*</span> :</label>
                <div class="col-sm-6">
                    <input type="text" id="studentNameUpdate" class="form-control" ng-model="student.name" placeholder="student Name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Course/Company <span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <select id="studentCourseUpdate" ng-options="course._id as course.name for course in courses" class="form-control" ng-model="student.course" required></select>
                </div>
            </div>

            <!--<div class="form-group">
                <label class="col-sm-4 control-label">Registration Date<span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <input type="date" id="studentRegistrationDateUpdate" class="form-control" ng-model="student.registrationdate" required>
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-4 control-label">Mobile Number <span class="data-required">*</span>:</label>
                <div class="col-sm-6" ng-class="{ 'has-error': studentUpdateForm.contactInputUpdate.$invalid && studentUpdateForm.contactInputUpdate.$dirty }">
                    <input type="text" name="contactInputUpdate" id="studentMobileNumberUpdate" class="form-control" ng-model="student.mobilenumber" ng-minlength="10" ng-maxlength="10" placeholder="Student Mobile Number" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Email:</label>
                <div class="col-sm-6" ng-class="{ 'has-error': studentUpdateForm.studentEmailUpdate.$invalid && studentUpdateForm.studentEmailUpdate.$dirty }">
                    <input type="email" name="studentEmailUpdate" id="studentEmailUpdate" class="form-control" ng-model="student.email" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Description:</label>
                <div class="col-sm-6">
                    <input type="text" id="studentDescriptionUpdate" class="form-control" ng-model="student.description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Amount Paid<span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <input type="number" id="studentAmountUpdate" class="form-control" ng-model="student.amount" placeholder="Amount Paid" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Balance<span class="data-required">*</span>:</label>
                <div class="col-sm-6">
                    <input type="number" id="studentBalanceUpdate" class="form-control" ng-model="student.balance" placeholder="Balance" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label checkbox">Total Amount Paid</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" ng-model="student.amountpaid">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="updateStudent()" ng-disabled="!isInputValid()">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
