body {
    /*min-height: 1000px;*/
    padding-top: 70px;
}
.toolbar-button-div {
    padding-bottom: 8px;
}
.clickable-item {
    cursor: pointer;
    /*text-decoration: underline;*/
}
pre.tiny-debug {
    font-size: 0.67em;
}

.level2 {
    background-color: #00a;
}

.msg-error, .data-required {
    color: red;
}

.row {
    margin-right:0px
}

.view-container{
    position: relative;
    top: 100px;}

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    z-index: 5;
    right: 5px;
}
.arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav-img {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.nav-img li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.nav-img li.active {
    border: 5px solid #FFFFFF;
}
.nav-img li img {
    width: 100%;
    height: auto;
    /*width: auto;*/
    /*max-width: 100%;*/
    max-height: 100%;
}


.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;
    max-width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 900px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 312px;
        width: 500px;
    }
    .slider .slide {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 188px;
        width: 300px;
    }
    .slider .slide {
        width: 100%;
    }
    .nav-img {
        height: 28px;
    }
    .nav-img li {
        border: 3px solid #AAAAAA;
        border-radius: 3px;
        height: 15px;
        width: 25px;
    }
}

.nobr {
    white-space:nowrap;
}

.readonly-details {
    font-size: 0.8em;
}

.debug-accordion {
    font-size: 0.8em;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.filter-bar {
    padding-bottom: 5px;
}

.filter-bar .small-text {
    font-size: 0.8em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.api-response-example {
    font-size: 0.67em;
}

#map {
    height: 400px;
}

.hours-of-op {
    font-size: 0.8em;
}

#infoOverlay {
    position: fixed;
    width: 40%;
    top: 30%;
    left: 30%;
    margin: 0 3em auto;
    padding: 2em;
    border: 0.3em solid #000;
    /*background-color: #ccf;*/
    text-align: center;
    font-size: 1.3em;
    font-family: "Arial", "sans-serif";
    z-index: 999;
    display: none;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}

.lat-lon-cell {
    font-size: 0.7em;
}

.disabled-neighborhood-selection {
    color: #777;
}


/* bootstrap  callouts
*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.top-buffer-5 { margin-top:5px; }
/* Boarding and Dropping tabs */

.bpdp-tab ul{
    overflow:hidden;
    margin: 0;
    padding: 0;
}
.bpdp-tab li{
    display:inline-block;
}
.bpdp-tab li a{
    padding: 10px 15px;
    background:#f2f2f2;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display:block;
    color:#3366BB;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-decoration: underline;
}
.tab-content{
    border: 2px solid #ddd;
    padding: 10px;
    margin:0;
}
li.tab.active a{
    background-color: #ddd;
    text-decoration: none;

}

/* nav bar styling */
.navbar-default .navbar-brand{
    border: 1px solid transparent;
    color: #2f9e43;
    font-size: 33px;
    padding: 10px 0px;
    height: auto;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.navbar-default .navbar-brand span{
    color: #583b54;
}
.navbar-default .navbar-brand:hover{
    color:none;
    background:none;
}
.navbar-default  {
    background-color: #fff;
    border-color: transparent;
    padding: 5px 0px;
    border-radius: 0;
    text-transform: uppercase;
    padding-right: 0;
    border-bottom: 1px solid #c5d4c4;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-default .navbar-nav>li>a{
    color: #2f9e43;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .4s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #2f9e43;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #2f9e43;
    background: #2e353d;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #2e353d; !important;
}
.navbar-nav {
    padding-right:0;
    float:right;

}

.navbar-nav > li{
    width: inherit;
    margin-top: 10px;
}
.navbar-nav>li>a {
    padding: 8px 45px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #2f9e43;
    background: #2e353d;
}

.navbar-default .navbar-nav .open .dropdown-toggle>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    color:black;
    padding:0;
}

/* Styling for temporary ViaCities list in Routes*/
#deleteCityFromList, #deleteViaCityFromList, #updateViaCityFromList {

    color: #39739D;
    font-size: 12px;
    white-space: nowrap;
    background: #E1ECF4;
}

#deleteViaCityFromList,#deleteViaCityFromList ul[dnd-list] > li{
    position: relative;
}

#routeTable th {
    background-color: black;
    color : white;
}

table.table.table-hover{ width:100%; }

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    width: 200px;
    height: 100%;
    color: #e1ffff;
    top: 67px;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
    background: #2e353d;
    border-right: 3px solid #d19b3d;
}
.nav-side-menu ul .sub-menu li.current-page a,
.nav-side-menu ul .sub-menu li.current-page a {
    color: #d19b3d;
    background: #2e353d;
    border-right: 3px solid #d19b3d;

}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
    width: 100%;

}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    .navbar-nav {
        margin:0;
    }

}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(max-width:990px) {
    .navbar-nav {
        width:100%;

    }

    .navbar-nav > li {
        width: initial;
    }

    .navbar-right {
        width: 65%;
    }
}
